body {
    background-color: #f4f4f4;
    padding: 0px;
}

.container {
    margin-top: 50px;
}

h2 {
    font-size: 4rem;
}


.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

}

.title:after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgba(0, 0, 0, 0.166);
    display: block;
    position: absolute;
    bottom: -29px;
}

section {
    padding: 50px;
}

.product {
    display: flex;
    justify-content: space-around;
    padding: 20px 170px;
    margin: 50px 0px auto;
}

.btn.btn-success.shopnow {
    width: 20%;
}

.pimage {
    width: 23%;
    height: 150px;
}

.orderbtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
}

.feature-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.feature-product {
    padding: 50px;
    background-color: #fff;
}

.card-img-top {
    height: 300px;
    border-radius: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 0px;
    border-radius: 0px;
}

.news-letter-subscription {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-control {
    width: 60%;
    border-radius: 0px;
}

button.btn.btn-success {
    width: 30%;
    border-radius: 0px;
}

.gallery {
    background-color: #fff;
}

.mobileshow {
    display: none;
}

img.card-img-top.gallaryimage1 {
    height: 100%;
}

img.card-img-top.gallaryimage1 {
    height: 430px;
}

.gallaryimg2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.gallaryimage2 {
    height: 171px;
    width: 460px;
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 3rem;
    }

    .pimage {
        width: 30%;
        height: 170px;
    }

    .product {
        padding: 20px 10px;
    }

    .gallaryimg2 {
        padding: 0 15px;
    }

    .gallaryimage2 {
        height: 171px;
        width: 100%;
    }


}


@media only screen and (max-width: 767px) {
    h2 {
        font-size: 26px;
    }

    h5 {
        font-size: 1rem;
    }

    .btn.btn-success.shopnow {
        width: 70%;
    }

    button.btn.btn-success {
        width: auto;
    }

    .carousel-item {
        text-align: center;
    }

    .carousel-item img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    .mobilehide {
        display: none;
    }

    ol.carousel-indicators {
        display: none;
    }

    .mobileshow {
        display: block;
    }

    img.pimage {
        width: auto;
    }

    .card-img-top {
        height: auto;
    }

    img.card-img-top.gallaryimage1 {
        height: 100%;
    }

    .gallaryimage2 {
        height: 100%;
        width: 100%;
    }

    .gallaryimage1 {
        height: 100%;
        width: 100%;
    }

    .gallaryimg2 {
        padding: 0px;
    }
}